@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 211, 193);
    color: rgb(92, 55, 15);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    
    
}

.recipe {
    background-color: rgb(218, 177, 133);
    margin: 0 20% 0 20%;
    border-radius: 10px;
    

}

img {
    border-radius: 10px;
    display: block;
    width: 50%;
    
    
    
}
  

h1 {
    text-align: center;
    padding: 30px;
}

.one {
    padding: 10px 0 0 10px;
}

.two {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.three {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid rgb(66,37,5,50%);
    
}

.four {
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid rgb(66,37,5,50%);
}

.five {
    padding: 10px 0 10px 10px;
    
}

.four ul, .five ol {
    padding-left: 30px;
}

.three, .four,.five {
    line-height: 1.5em;
}
