body {
    background-color: rgb(228, 211, 193);
    color: rgb(92, 55, 15);
    font-family: Arial, Helvetica, sans-serif;
    
}

img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}
hr{
    border-width:1px;
}