@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(228, 211, 193);
    color: rgb(92, 55, 15);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1 {
    text-align: center;
    padding: 30px;
}

img {
    border-radius: 10px;
    display: block;
    
    
}

.recipe {
    background-color: rgb(218, 177, 133);
    margin: 0 20% 0 20%;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    "two one"
    "two three"
    "two four"
    "five five";
    

}


.one {
    grid-area: one;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgb(66,37,5,50%);
    margin-left: -120px;
    
    
}

.two {
    grid-area: two;
    margin-right: 120px;
    padding: 130px 40px 60px 60px;
    border-right: 1px solid rgb(66,37,5,50%);
    
    
    
}

.three {
    grid-area: three;
    padding: 10px 10px 10px 0;
    line-height: 1.5em;
    border-bottom: 1px solid rgb(66,37,5,50%);
    margin-left: -120px;
}

.four {
    grid-area: four;
    padding: 10px 10px 10px 0px;
    line-height: 1.5em;
    margin-left: -120px;

}

.four ul, .five ol {
    padding-left: 30px;
}

.five {
    grid-area: five;
    line-height: 1.5em;
    padding: 10px 10px 10px 20px;
    border-top: 1px solid rgb(66,37,5,50%);
}