body {
    background-color: rgb(228, 211, 193);
    color: rgb(92, 55, 15);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    
    
}

img {
    border-radius: 10%;
    display: block;
    
}

section{
    border-bottom: 1px solid rgb(66, 37, 5, 50%);
}

h1 {
    text-align: center;
}

