@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(228, 211, 193);
    color: rgb(92, 55, 15);
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    
}

h1 {
    padding: 30px;
}

img {
    width: 700px;
    height: auto;
    border-radius: 20px;
    margin-left: 50px;
    
    
}

h1, figcaption {
    text-align: center;
}

figcaption {
    padding-top: 10px;
    padding-bottom: 20px;
}
.recipe {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    
    
    


}








