body {
    background-color: rgb(228, 211, 193);
    color: rgb(92, 55, 15);
    font-family: Arial, Helvetica, sans-serif;
    
}
img {
    width: 500px;
    height: auto;
    border-radius: 10%;
    
}

div {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    text-align: center;
}







